<% content_for :title, "Editing landmark" %>

<h1>Editing landmark</h1>

<%= render "form", landmark: @landmark %>

<br>

<div>
  <%= link_to "Show this landmark", @landmark %> |
  <%= link_to "Back to landmarks", landmarks_path %>
</div>
