<% content_for :title, "New Landmark" %>
<h1>Create New Landmark</h1>
<%= render "form", landmark: @landmark %>
<br>
<div>
  <%= link_to "Back", landmarks_path, class: "btn btn-secondary btn-sm my-2" %>
</div>
