<% if current_user %>
  <% if likeable.voted_up_by?(current_user) %>
    <!-- Unlike Button -->
    <%= button_to unlike_path(likeable), 
                  method: :put, 
                  class: "btn btn-primary btn-sm" do %>
      Unlike <i class="fa-regular fa-thumbs-down"></i>
    <% end %>
  <% else %>
    <!-- Like Button -->
    <%= button_to like_path(likeable), 
                  method: :put, 
                  class: "btn btn-primary btn-sm" do %>
      Like <i class="fa-regular fa-thumbs-up"></i>
    <% end %>
  <% end %>
<% else %>
  <!-- Message or Link for Not Logged In Users -->
  <a href="<%= new_user_session_path %>" class="btn btn-primary btn-sm">
    Log in to Like <i class="fa-regular fa-thumbs-up"></i>
  </a>
<% end %>

<!-- Display like count -->
<%= pluralize(likeable.get_upvotes.size, "Like") %>
