<% content_for :title, "About" %>
<div class="row">
  <div class="col-lg-12">
    <h2 class="text-center"> About <span class="navbar-brand">History Explorer<span> </h2>
        <p>History Explorer is changing the way people explore historical landmarks in Minnesota. This user-friendly platform is designed to make the journey more engaging, organized, and informative.
          Whether you're discovering hidden gems or connecting with others, History Explorer helps you explore landmarks with the following integrated features:</li>
      </p>
      <h3 class="display-8">Key Features:</h3>
      <ul>
        <li><strong>Create & Manage Content</strong>: Users can easily create accounts to add, edit, and manage historical landmarks and comments. Administrators have organized the landmarks into six different regions to maintain overall structure.</li>
        <li><strong>Interactive Map Integration</strong>: Find landmarks on an interactive map powered by Google Maps. Add and view locations by region, making it easier to discover and visit landmarks.</li>
        <li><strong>Engaging Community Forum</strong>: Connect with fellow enthusiasts to share insights, ask questions, and discuss landmarks in an easy-to-navigate space.</li>
      </ul>
    </div>
    <hr class="my-4">
    <h2 class="text-center"> Meet the Creator </h2>
    <p>Hi, I’m Nadia!</p>
    <p>The inspiration behind this app came from my passion for history and a desire to make it accessible to everyone. As someone who has just started learning about the history of Minnesota in 2023, I’ve been captivated by the stories behind each historical landmark I’ve encountered. What started as a personal journey of discovery soon turned into a mission to create a platform that brings these stories to life. </p>
    <p> In addition to providing a rich, interactive catalog of historical landmarks, I wanted to make it even easier for users to connect with these places in a meaningful way. That’s why I’m especially excited about our map feature—it allows you to see the physical locations of landmarks, helping you visualize where they are and even plan your own visits! Whether you’re in Minnesota or exploring from afar, the map feature adds a whole new layer to the experience, allowing you to imagine yourself standing in front of these incredible sites and connecting with history in a more tangible way. </p>
    <p> I believe history has the power to inspire, educate, and unite us across time and space. This app is my way of making history more accessible, engaging, and interactive for everyone. Every landmark in the app tells its own unique story written by individuals like yourself, and I’m excited to share them with you. Thank you for being part of this journey—explore, learn, and maybe even plan your next historical adventure!</p>
    <div class="col-lg-12 text-center custom-lead">
      <span>Follow on:</span>
      <a href="https://www.linkedin.com/in/nadia-kane-54727a1a9/"><i class="fa-brands fa-linkedin fa-2x mx-1"></i></a>
      <a href="https://github.com/nadiakane26/history_explorer"><i class="fa-brands fa-github fa-2x mx-1 text-black"></i></a>
    </div>
  </div>
