<% content_for :title, "About" %>
<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center"> About <span class= "navbar-brand">History Explorer<span> </h1>
        <p>Changing the way people explore historical landmarks with <strong>History Explorer</strong>—a user-friendly platform designed to make the journey more engaging, organized, and informative.</p>
        <h3 class= "display-8">Key Features:</h3>
        <ul>
            <li><strong>Create & Manage Content</strong>: Users can easily create accounts to add, edit, and manage historical landmarks and comments. Administrators can organize and oversee regions to maintain structure.</li>
            <li><strong>Interactive Map Integration</strong>: Find landmarks on an interactive map powered by Google Maps. Add and view locations by region, making it easier to discover and visit landmarks.</li>
            <li><strong>Engaging Community Forum</strong>: Connect with fellow enthusiasts in an organized forum. Share insights, ask questions, and discuss landmarks in an easy-to-navigate space.</li>
            <li><strong>Comprehensive & Organized</strong>: Whether you're discovering hidden gems or connecting with others, History Explorer helps you explore landmarks with integrated features like searchability, community interactions, and more.</li>
        </ul>
        </div>

    <hr class="my-4">

    <h2 class="text-center"> Meet the Creator </h2>
    <p>Hi, I’m Nadia! The inspiration behind this app came from my passion for history and a desire to make it accessible to everyone. As someone who has just started learning about the history of Minnesota in 2023, I have been fascinated by the stories behind historical landmarks, I wanted to create an easy way for people to learn about these places, whether they’re visiting in person or exploring from the comfort of their own home.

I believe history has the power to inspire, educate, and connect us across time and space. This app is my way of bringing important stories to life and making them more engaging and interactive for enthusiasts.

Every landmark in the app has its own unique story, and I’m excited to help you discover them. Whether you’re a history enthusiast, a traveler, or just curious about the past, this app is for you.

Thank you for being part of this journey—explore, learn, and contribute to the rich history that surrounds us!</p>
    <div class="col-lg-12 text-center custom-lead">
        <span>Follow on:</span>
        <a href="https://www.linkedin.com/in/nadia-kane-54727a1a9/"><i class="fa-brands fa-linkedin fa-lg mx-1"></i></a>
        <a href="https://github.com/nadiakane26/history_explorer"><i class="fa-brands fa-github fa-lg mx-1 text-black"></i></a>
    </div>
</div>

