<% content_for :title, "Contact" %>
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Contact Us</h1>
        <span class="lead">Follow on:</span>
        <a href="https://www.facebook.com/nadia.kane.7"><i class="fa-brands fa-facebook fa-2x mx-2"></i></a>
        <a href="https://www.instagram.com/nadia.kane.26/"><i class="fa-brands fa-instagram fa-2x mx-2"></i></a>
        <a href="https://www.linkedin.com/in/nadia-kane-54727a1a9/"><i class="fa-brands fa-linkedin fa-2x mx-2"></i></a>
        <a href="https://github.com/nadiakane26/history_explorer"><i class="fa-brands fa-github fa-2x mx-2"></i></a>
    </div>
</div>