<% content_for :title, "Contact" %>
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Contact</h1>
        <span>Follow on:</span>
        <a href="https://www.linkedin.com/in/nadia-kane-54727a1a9/"><i class="fa-brands fa-linkedin fa-2x mx-1"></i></a>
        <a href="https://github.com/nadiakane26/history_explorer"><i class="fa-brands fa-github fa-2x mx-1 text-black"></i></a>
    </div>
</div>