<% content_for :title, "My Landmarks" %>

<!-- My Landmark Contributions -->
<h2>My Landmark Contributions:</h2>
<div class="row">
  <% @landmarks.each do |landmark| %>
    <%= render partial: 'landmarks/landmark_card', locals: { landmark: landmark } %>
  <% end %>
</div>

<% if @landmarks.empty? %>
  <p>You haven't posted any landmarks yet.</p>
<% end %>

<!-- My Favorite Landmarks -->
<h2>My Favorite Landmarks:</h2>
<div class="row">
  <% if @liked_landmarks.present? %>
    <% @liked_landmarks.each do |landmark| %>
      <%= render partial: 'landmarks/landmark_card', locals: { landmark: landmark } %>
    <% end %>
  <% else %>
    <p>You haven't liked any landmarks yet.</p>
  <% end %>
</div>

<!-- My Saved Landmarks -->
<h2>My Saved Landmarks:</h2>
<div class="row">
  <% @saved_landmarks.each do |landmark| %>
    <%= render partial: 'landmarks/landmark_card', locals: { landmark: landmark } %>
  <% end %>
</div>

<% if @saved_landmarks.empty? %>
  <p>You haven't saved any landmarks yet.</p>
<% end %>
