/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 /* Navigation Bar */
 .navbar-brand {
    font-family: 'Brush Script MT', cursive; 
    font-size: 2.5rem !important; 
  }

.dropdown-menu li {
  position: relative;
  }
.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}
.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}

 /* Embedded Map */
#map {
  width: 95%;
  height: 400px;
  margin: 20px;
}

 /* Comments */
#comments-container {
  margin-top: 100px; }

 /* Font */
.custom-lead {
  font-size: 1rem;
}

 /* Landmark Images */ 
#landmark-carousel .carousel-item {
  position: relative;    /* Ensures that the child images can be positioned */
  width: 100%;           /* Make the carousel take the full width of its parent container */
  height: 500px;         /* Fixed height for the carousel container */
  overflow: hidden;      /* Hide any overflow if the image exceeds the container */
}

/* Ensure the image fits the container and maintains its aspect ratio */
#landmark-carousel .carousel-item img {
  width: 100%;           /* Make the image stretch to fill the container width */
  height: 100%;          /* Make the image fill the container height */
  object-fit: contain;   /* Ensures the image fits within the container while preserving the aspect ratio */
  object-position: center; /* Center the image within the container */
}

 /* Region Images */ 
#region-carousel .carousel-inner .carousel-item {
  height: 300px; /* Set a fixed height */
}

#region-carousel image {
  object-fit: cover; /* Ensures the image fills the container without distortion */
}