/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 .navbar-brand {
    font-family: 'Brush Script MT', cursive; 
    font-size: 2.5rem !important; 
  }

.dropdown-menu li {
  position: relative;
  }
.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}
.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}

#map {
  width: 95%;
  height: 400px;
  margin: 20px;
}

#comments-container {
  margin-top: 100px; }


.custom-lead {
  @extend .lead; /* If using SCSS */
  font-size: 1rem; /* Adjust this value */
}

#landmark-carousel .carousel-item {
  object-fit: cover; /* Ensures that the images cover the area without distortion */
  max-height: 550px;      /* Set a fixed height for all images */
  width: 100%;        /* Make images responsive and fill the container */
}

#region-carousel .carousel-inner .carousel-item {
  height: 300px; /* Set a fixed height */
}

#region-carousel image {
  object-fit: cover; /* Ensures the image fills the container without distortion */
}